<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome}}</title>
</head>
<body>
    <form action="/salvar">
        <!-- <label for="nome:">Nome:</label> -->     <!-- label escreve do lado do formulario --> 
        <input type="text" name="nome" id="nome" placeholder="Nome:"><br> <!--  placeholder escreve dentro do formulario  -->

        <!-- <label for="tipo:">Tipo:</label> -->
        <input type="text" name="tipo" id="tipo" placeholder="Tipo:"><br>

        <!-- <label for="teor:">Teor:</label> -->
        <input type="text" name="teor" id="teor" placeholder="Teor:"><br>

        <input type="submit" value="Cadastrar">

    </form>

    
</body>
</html>